body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Plus Jakarta Sans-ExtraBold";
  src: local("Plus Jakarta Sans"),
    url("./fonts//PlusJakartaSans/PlusJakartaSans-ExtraBold.woff")
      format("woff");
}
@font-face {
  font-family: "Plus Jakarta Sans-ExtraBold";
  src: local("Plus Jakarta Sans"),
    url("./fonts//PlusJakartaSans/PlusJakartaSans-ExtraBold.woff2")
      format("woff2");
}
@font-face {
  font-family: "Plus Jakarta Sans-Bold";
  src: local("Plus Jakarta Sans"),
    url("./fonts//PlusJakartaSans/PlusJakartaSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "Plus Jakarta Sans-Bold";
  src: local("Plus Jakarta Sans"),
    url("./fonts//PlusJakartaSans/PlusJakartaSans-Bold.woff2") format("woff2");
}
